<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <assembly name="DemoService.Contract" />
    <namespace name="DemoService.Contract" />
    <namespace name="DemoService.Contract.SettingProvider" />

    <assembly name="DemoService.Implementation" />
    <namespace name="DemoService.Implementation" />

    <container>
      <register type="IDemonstrationService" mapTo="DemonstrationService" name="demonstrationServiceImpl">
        <lifetime type="singleton"/>
        <constructor>
          <param name="injectedSettingProvider">
            <dependency name="settingProviderImpl" />
          </param>
        </constructor>
      </register>
      <register type="ISettingProvider" mapTo="DictionarySettingProvider" name="settingProviderImpl">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
</configuration>